# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments + .env
venv/*
.env

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Spark
spark-warehouse/
*.log
*.out

# Data outputs [idk how it will be yet]
data/output/
data/tmp/
output/
Data/output/

# Docker
.docker/